body{
  height: 250vh;
  padding: 0;
  font-family: sans-serif;
  overflow-x:hidden;
}
.nav {
  display: flex;
  height: 40px;
  align-items: center;
  border-bottom-style: solid;
  padding-bottom:20px;
  margin-left:10%;
  margin-right:10%;
}

.left, .middle, .right {
  flex: 1;
  height: 40px;
  width:20%;
}
.item {
  font-size: 20px;
  padding: 16px;
  display: inline-block;
}
.logo {
  width: 40px;
  height: 30px;
}
.middle {
  padding-top: 40px;
  text-align: center;
  display:flex;
  flex-direction:row;
}
.fas{
  color:#7959f8;
}
#search{
  width:100%;
  height:20px;
  border-style:none;
  margin-left:15px;
  font-size:18px;
}

.right {
  text-align: right;
  padding-top:40px;
}
.right a{
    padding-left:20px;
}
#section1{
  display: flex;
  flex-direction: row;
  padding-top: 7%;
  padding-bottom: 15%;
  margin-left:10%;
  margin-right:10%;
}
#rightText{
  text-decoration:none;
  font-size:18px;
  width:85%;
  color: #7959f8;
}
#summary{
  
  width:90%;
  margin-right:10%;
}
#section2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom:10%;
  margin-left:10%;
  margin-right:10%;
}
h1{
  width:100%;
  font-size:40px;
}
#head2{
  font-size:30px;
}
.blueSect{
  background-color: #7959f8;
  color: white;
  height:100%;
}
.fourSects{
  height: 60%;
  width: 48%;
  margin-top: 5%;
  border-top: solid;
  border-color: #9459f8;
}
.text1{
  padding: 5% 5%;
  width:90%;
  height:90%;
}
.text p1{
  font-size:18px;
}
#section3{
  width:100vw;
  background-color: #F3F1FF;
  margin:0;
  padding-top: 10%;
  padding-bottom: 30%;
}
.content3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:10%;
  margin-right:10%;
}

.card{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  background-color:white;
  width:30%;
  padding-bottom:5%;
}
button{
  font-size:20px;
  padding-top:5px;
  padding-bottom:5px;
  width:100%;
  border: 2px solid #9459f8;
  color:#9459f8;
  border-radius:0;
  background-color:inherit;
}
.noColor{
  background-color:#F3F1FF;
  justify-content: flex-start;
}
.thumb{
 width:100%;
 height:100%;
}
text2{
  padding-left:5%;
  padding-right:5%;
}
#section4{
  margin-left:10%;
  margin-right:10%;
  display:flex;
  flex-wrap:wrap
}
.partners{
  justify-content:flex-end;
  width:20%;
  height:10%;
}
